---
import Seo from "../components/Seo.astro";
import { Image } from "astro:assets";
import imgimages_gii_logo_webp from "../../public/images/gii_logo.webp";
import imgimages_gii_banner_arrow_right_webp from "../../public/images/gii_banner_arrow_right.webp";
import imgimages_gii_image_banner_right_webp from "../../public/images/gii_image_banner_right.webp";
import imgimages_gii_strategy_1_webp from "../../public/images/gii_strategy_1.webp";
import imgimages_gii_strategy_2_webp from "../../public/images/gii_strategy_2.webp";
import imgimages_gii_strategy_3_webp from "../../public/images/gii_strategy_3.webp";
import imgimages_gii_quote_icon_webp from "../../public/images/gii_quote_icon.webp";
import imgimages_gii_testimonial_avatar_webp from "../../public/images/gii_testimonial_avatar.webp";
import imgimages_gii_footer_social_webp from "../../public/images/gii_footer_social.webp";
// import '../styles/global.css';
---

<html lang="en">
	<head>
		<Seo seo={{ title: "EcoBuilder", description: "Page description", keywords: "", canonical: "", image: '', type: "website", themeColor: "#ffffff"}} />
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body>  </body>
</html>
